* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #00011c;
  color: white;
  margin: 10px 100px;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}

li,
a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

//navbar

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 12%;
    cursor: pointer;
    padding: 10px;
  }
  .nav-links {
    list-style-type: none;
    display: flex;
    li {
      padding: 0 20px;
      a {
        transition: all 0.3s ease;
        &:hover {
          color: #0088a9;
        }
      }
    }
  }
}
////////////////////////////////

//homepage
.home {
  margin: 20px;
  .container {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    .banner {
      width: 500px;
      height: 300px;
      padding-left: 120px;
      font-weight: 700;
    }
    .identity {
      margin-top: -50px;
      width: 400px;
      h1 {
        font-size: 30px;
        margin-bottom: 20px;
        span {
          color: #ffd6a9;
        }
      }
    }
  }
}
////////////////////////////////

// footer
footer {
  display: grid;
  grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col4-start] auto [col4-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
  .box {
    font-size: 140%;
    &.a {
      grid-column: col1-start / col4-start;
      grid-row: row1-start;
      text-align: center;
      margin: 0;
      h3 {
        margin-bottom: 18px;
        font-weight: 500;
        font-size: 30px;
      }
    }
    &.b {
      grid-column: col4-start;
      grid-row: row1-start / row2-end;
      h3 {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 30px;
      }
      ul {
        list-style-type: none;
        li {
          padding-bottom: 10px;
          a {
            transition: all 0.3s ease;
            font-size: 14px;
            &:hover {
              color: #0088a9;
            }
          }
        }
      }
    }
    &.c {
      grid-column: col1-start;
      grid-row: row2-start;
      h4 {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 25px;
      }
      ul {
        list-style-type: none;
        li {
          padding-bottom: 10px;
          font-size: 14px;
        }
      }
    }
    &.d {
      grid-column: col2-start;
      grid-row: row2-start;
      h4 {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 25px;
      }
      ul {
        list-style-type: none;
        li {
          padding-bottom: 10px;
          font-size: 14px;
        }
      }
    }
    &.e {
      grid-column: col3-start;
      grid-row: row2-start;
      h4 {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 25px;
      }
      ul {
        list-style-type: none;
        li {
          padding-bottom: 10px;
          font-size: 14px;
        }
      }
    }
  }
}
