* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #00011c;
  color: white;
  margin: 10px 100px;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 12%;
  cursor: pointer;
  padding: 10px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  padding: 0 20px;
}

.nav-links li a {
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #0088a9;
}

li,
a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.container {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.identity {
  margin-top: -50px;
  width: 400px;
}

.identity h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

span {
  color: #ffd6a9;
}

.banner {
  width: 500px;
  height: 300px;
  padding-left: 120px;
  font-weight: 700;
}

footer {
  display: grid;
  grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col4-start] auto [col4-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
  color: #444;
}

.box {
  color: #fff;
  font-size: 140%;
}

.a {
  grid-column: col1-start / col4-start;
  grid-row: row1-start;
  text-align: center;
  margin: 0;
}
.b {
  grid-column: col4-start;
  grid-row: row1-start / row2-end;
}
.b h3 {
  margin-bottom: 20px;
}

.b ul {
  list-style-type: none;
}

.b ul li {
  padding-bottom: 10px;
}

.b li a {
  transition: all 0.3s ease;
}

.b li a:hover {
  color: #0088a9;
}

.c {
  grid-column: col1-start;
  grid-row: row2-start;
}
.d {
  grid-column: col2-start;
  grid-row: row2-start;
}

.e {
  grid-column: col3-start;
  grid-row: row2-start;
}
