* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #00011c;
  color: white;
  margin: 10px 100px;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 12%;
  cursor: pointer;
  padding: 15px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  padding: 0 20px;
}

.nav-links li a {
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #0088a9;
}

li,
a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
